* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body {
  border: solid;
  width: 560px;
}

h1 {
  margin-top: 40px;
  margin-left: 15px;
  margin-bottom: 25px;
}

#develop {
  margin-left: 15px;
  color: #888888;
  font-weight: bold;
  font-size: 25px;
}

#competence {
  color: #cccccc;
  font-weight: bold;
  font-size: 15px;
}

#competence {
  margin-left: 5px;
}





footer {
  display: inline-block;
  margin-top: 30px;
  width: 560px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #eaecef;
}

a{
  margin-left: 15px;
}

#numero {
  display: inline-block;
  margin-left: 130px;
}
